.outerMain {
  padding-top: 20px;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.mainDiv {
  padding-top: 20px;
  height: fit-content;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
}

.intro {
  margin-top: 20px;
  width: 85%;
  padding: 20px;
  background-color: #323237;
  color: whitesmoke;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 20px;
  border-radius: 12px;
}
.section1 {
  margin-top: 50px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  cursor: pointer;
}
.sec1 {
  height: fit-content;
  width: 35%;
  background-color: #323237;
  border-radius: 10px;
  color: wheat;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  will-change: transform;
  transition: none;
}
.sec1 section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.sec1 section img {
  width: 50px;
}
.sec1 section h2 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: whitesmoke;
}
.sec1 p {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: whitesmoke;
  padding-top: 10px;
  text-align: start;
  word-spacing: 5px;
}
