* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.mainDiv {
  padding-top: 20px;
  height: 100%;
  width: 100%;
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: auto;
}
.profileDiv {
  background-color: #323237;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -80%);
  position: absolute;
  overflow: hidden;
  object-fit: contain;
}
.profileDiv img {
  width: 100%;
  height: 100%;
}
.headDiv {
  padding: "5px";
  background-color: #323237;
  height: 50px;
  width: 80%;
  position: "absolute";
  left: "50%";
  transform: "translateX(-50%)";
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 200;
}
.boxcon {
  background-color: #323237;
  height: 60px;
  width: 90%;
  margin-bottom: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
}
.boxcon img {
  margin-left: 20px;
  margin-right: 20px;
  width: 40px;
  cursor: pointer;
}

.boxcon h2 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: whitesmoke;
}
.boxcon p {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: whitesmoke;
}
.boxcon div {
  margin-right: 2px;
  cursor: pointer;
  overflow: hidden;
}
.rightdiv {
  height: 660px;
  width: 70vw;
  border-style: solid;
  box-shadow: 0 0 20px 5px #0637e7;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.rightdiv::-webkit-scrollbar {
  display: none;
}
.headerDiv {
  background-color: black;
  height: 60px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.headerInner {
  background-color: #323237;
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 20px;
}
.headerDiv div p {
  color: white;
  font-size: 20px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  cursor: pointer;
}
.HeaderText {
  height: 100%;
  width: 30%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.HeaderText h1 {
  margin-top: 10px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 800;
  color: white;
  font-size: 30px;
}
