* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.mainDiv {
  height: 100vh;
  width: 100%;
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
.profileDiv {
  background-color: grey;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -80%);
  position: absolute;
}

.headDiv {
  padding: "5px";
  background-color: #323237;
  height: 50px;
  width: 80%;
  position: "absolute";
  left: "50%";
  transform: "translateX(-50%)";
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 200;
}
.boxcon {
  background-color: #323237;
  height: 60px;
  width: 90%;
  margin-bottom: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
}
.boxcon img {
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
  cursor: pointer;
}

.boxcon h2 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: whitesmoke;
}
.boxcon p {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: whitesmoke;
}
.boxcon div {
  margin-right: 2px;
  cursor: pointer;
  overflow: hidden;
}
.rightdiv {
  height: 90vh;
  width: 70vw;
  border-style: solid;
  box-shadow: 0 0 20px 5px #0637e7;
}
