.resumeOuter {
  padding-top: 20px;
  width: 100%;
  height: fit-content;
  background-color: transparent;
  color: white;
  padding-top: 200px;
  position: relative;
  overflow: visible;
  scroll-behavior: non;
}
.resumeOuter h1 {
  font-family: "Kumbh Sans", sans-serif;
}
.resumeOuter button {
  background-color: red;
  margin-top: 20px;
  background-color: rgb(0, 119, 255);
  border: none;
  cursor: pointer;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: black;
  line-height: 2;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

@media (max-width: 650px) {
  .resumeOuter {
    padding-top: 20px;
    width: 100%;
    height: 80vh;
    background-color: transparent;
    color: white;
    padding-top: 200px;
    position: relative;
    overflow: visible;
    scroll-behavior: non;
  }
}
